
@import "../../bower_components/normalize.css/normalize.css";

@font-face {
    font-family: 'gotham_probold';
    src: url('fonts/GothaProBol-webfont.eot');
    src: url('fonts/GothaProBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothaProBol-webfont.woff2') format('woff2'),
         url('fonts/GothaProBol-webfont.woff') format('woff'),
         url('fonts/GothaProBol-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gotham_promedium';
    src: url('fonts/GothaProMed-webfont.eot');
    src: url('fonts/GothaProMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/GothaProMed-webfont.woff2') format('woff2'),
         url('fonts/GothaProMed-webfont.woff') format('woff'),
         url('fonts/GothaProMed-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


