.menu {
  /* Customize the navbar links to be fill the entire space of the .navbar */
  height: 37px;
  min-height: 20px;
}
.menu .navbar-inner {
  padding: 0;
}
.menu .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.menu .nav li {
  display: table-cell;
  width: 1%;
  float: none;
  padding: 9px 0px;
}
.menu .nav li a {
  font-family: gotham_probold;
  color: #c6c5c5;
  text-transform: uppercase;
  height: 47px;
}
.menu .nav li a:hover {
  color: #54577c;
  border-bottom: 4px solid #54577c;
  background: transparent;
}
