.carousel-fade {
  .carousel-inner {
    .item {
      opacity: 0;
      transition-property: opacity;
    }

    .active {
      opacity: 1;
    }

    .active.left,
    .active.right {
      left: 0;
      opacity: 0;
      z-index: 1;
    }

    .next.left,
    .prev.right {
      opacity: 1;
    }
  }

  .carousel-control {
    z-index: 2;
  }
  .carousel-indicators {
    bottom: 2px;
    left: 66px;
  }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
  height: 100%;
}

.item:nth-child(1) {
  background: url(../images/ad.jpg) no-repeat top center;
  .lead {
    color: white;
    font-family: gotham_promedium;
    position: absolute;
    top: 40px;
    left: 42px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.25);
  }

  .btn {
    position: absolute;
    top: 88px;
    left: 44px;
    padding: 8px 16px;
    border: 2px solid white;
    border-radius: 18px;
    background: transparent;
    font-family: gotham_probold;
  }
}

.item:nth-child(2) {
  background: red;
}

.item:nth-child(3) {
  background: orange;
}

.ad {
  height: 175px;
}