.menu {
  /* Customize the navbar links to be fill the entire space of the .navbar */
  .navbar-inner {
    padding: 0;
  }
  .nav {
    li {      
      a {
        font-family: gotham_probold;
        color:#c6c5c5;
        text-transform: uppercase;
        height: 47px;
        &:hover {
          color:#54577c;
          border-bottom: 4px solid #54577c;
          background: transparent;
        }
      }


      display: table-cell;
      width: 1%;
      float: none;
      padding: 9px 0px;
    }
    margin: 0;
    display: table;
    width: 100%;
  }
  
  height: 37px;
  min-height: 20px;
}